@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}
* {
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  border: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #eee;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  cursor: pointer;
  color: var(--black);
  background: none;
}
.btn:hover{
  color: #fff;
  background: var(--orange);
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}
.header .logo i {
  color: var(--orange);
}
.header .nav a {
  color: var(--black);
  font-size: 1.7rem;
  margin: 0 1rem;
}
.header .nav a:hover {
  color: var(--orange);
}
.header .icons div {
  background: #eee;
  color: var(--black);
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-right: 0.3rem;
  text-align: center;
}
.header .icons div:hover {
  background-color: var(--orange);
  color: #fff;
}
#menu-btn {
  display: none;
}
.header .search-from {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--box-shodow);
}
.header .search-from.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-from input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}
.header .search-from label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-from label:hover {
  color: var(--orange);
}
.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  border-radius: 0.5rem;
  background: #fff;
}
.header .shopping-cart.active{
  right: 2rem;
  transition: .4s linear;
}
.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.header .shopping-cart .box img {
  height: 10rem;
}
.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  cursor: pointer;
  color: var(--light-color);
  right: 2rem;
  transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover {
  color: var(--orange);
}
.header .shopping-cart .box h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box span {
  color: var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .box .quantity {
  padding-left: 1rem;
}
.header .shopping-cart .total {
  font-size: 2.5rem;
  color: var(--black);
  text-align: center;
  padding: 1rem 0;
}
.header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
}
.header .login-form{
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  background: #fff;
  padding: 2rem;
  text-align: center;
}
.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}
.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.header .login-form .box{
  text-transform: none;
  margin: .7rem 0;
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  width: 100%;
}
.header .login-form p{
  font-size: 1.4rem;
  padding: .5rem 0;
  color: var(--light-color);
}
.header .login-form p a {
  color: var(--orange);
  text-decoration: underline;
padding-left: .5rem;
}